<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="AllLogs" fileName="${sys:catalina.base}/logs/AirQualityIndex.log"
			createOnDemand="True"
			filePattern="logs/$${date:yyyy-MM}/AirQualityIndex-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<append>false</append>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
			</Policies>
		</RollingFile>
		<RollingFile name="com_fdm" fileName="${sys:catalina.base}/logs/AirQualityIndex_com_fdm.log"
			createOnDemand="True"
			filePattern="logs/$${date:yyyy-MM}/AirQualityIndex_com-fdm-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
			</Policies>
		</RollingFile>
		<File name="hibernateLog" fileName="${sys:catalina.base}/logs/AirQualityIndexHibernate.log"
			createOnDemand="True">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="AllLogs" />
		</Root>
		<Logger name="com.fdm" level="all">
			<AppenderRef ref="com_fdm" />
		</Logger>
		<Logger name="log4j.logger.org.hibernate" level="all">
			<AppenderRef ref="hibernateLog" />
		</Logger>
	</Loggers>
</Configuration>