<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AirQualityIndex</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomePage</servlet-name>
    <servlet-class>com.fdm.servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePage</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetRegionInfo</servlet-name>
    <servlet-class>com.fdm.servlets.GetRegionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegionInfo</servlet-name>
    <url-pattern>/getRegionInfo.jsp</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.fdm.listeners.JPAListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.fdm.listeners.XMLParserListener</listener-class>
  </listener>
</web-app>